

h4{
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.foto{
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    cursor: pointer;
    
}

.cr7,.neymar,.q7{
    background:transparent;
    padding:8px;
    border:2px solid #999999; 
    display: inline-block;
}

.soruKutusu{
   justify-content: center;
   align-items: center;
   text-align: center;
}
